/** Add css rules here for your tmb application. */
body {
  min-width: 320px;
  margin-top: 65px;
}
#tmb_top_menu_bar.TMB_application {
  /*own space, always on the top to overwrite applauncher popup*/
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 13px;
  line-height: 1.846;
  color: #777;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1px;
  /*themes*/
}
#tmb_top_menu_bar.TMB_application p,
#tmb_top_menu_bar.TMB_application .paragraph,
#tmb_top_menu_bar.TMB_application li,
#tmb_top_menu_bar.TMB_application a {
  font-size: 13px;
  font-family: inherit;
}
#tmb_top_menu_bar.TMB_application .navbar {
  background-color: #f8f8f8;
  min-height: 64px;
  border: none;
}
#tmb_top_menu_bar.TMB_application .navbar-brand {
  padding: 0 21px;
  position: relative;
  top: 23px;
  height: auto;
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  white-space: nowrap;
  font-weight: 700;
}
#tmb_top_menu_bar.TMB_application .navbar-nav > li > a {
  font-family: inherit;
  line-height: 23px;
  padding: 20.5px 15px;
  font-size: inherit;
}
#tmb_top_menu_bar.TMB_application .fa {
  font-size: 18px;
  color: inherit;
}
#tmb_top_menu_bar.TMB_application .fa:focus,
#tmb_top_menu_bar.TMB_application .fa:hover {
  color: inherit !important;
}
#tmb_top_menu_bar.TMB_application .headertabs {
  float: right;
  margin-right: 15px;
  margin-left: 13px;
}
#tmb_top_menu_bar.TMB_application .headertabs .dropdown-toggle {
  padding: 0;
  line-height: 1em;
}
#tmb_top_menu_bar.TMB_application .TMB_application__logocontainer {
  float: left;
  background-color: transparent;
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
}
#tmb_top_menu_bar.TMB_application .TMB_application__logocontainer img {
  height: 45px;
}
@media (max-width: 640px) {
  #tmb_top_menu_bar.TMB_application .TMB_application__logocontainer img {
    height: 40px;
  }
}
#tmb_top_menu_bar.TMB_application .TMB_application__button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#tmb_top_menu_bar.TMB_application .navbar.darkblue {
  background-color: #223d62;
  color: #fff;
}
#tmb_top_menu_bar.TMB_application .navbar.darkblue .TMB_application__logocontainer {
  background-color: #fff;
}
#tmb_top_menu_bar.TMB_application .navbar.white {
  background-color: #fff;
  color: #777;
}
#tmb_top_menu_bar.TMB_application .navbar-default .navbar-nav {
  padding: 0;
}
#tmb_top_menu_bar.TMB_application .navbar-default .navbar-nav > li > a {
  color: inherit !important;
  font-size: inherit !important;
}
#tmb_top_menu_bar.TMB_application .navbar-default .navbar-nav > li > a:hover,
#tmb_top_menu_bar.TMB_application .navbar-default .navbar-nav > li > a:focus {
  color: inherit;
}
#tmb_top_menu_bar.TMB_application .navbar-toggle {
  border: none;
  margin: 2px 15px;
  padding: 0;
  background-color: transparent !important;
}
#tmb_top_menu_bar.TMB_application .navbar-toggle:focus,
#tmb_top_menu_bar.TMB_application .navbar-toggle:hover {
  background-color: transparent !important;
}
#tmb_top_menu_bar.TMB_application .navbar-collapse,
#tmb_top_menu_bar.TMB_application .navbar-form {
  border-color: transparent;
}
@media (max-width: 768px) {
  #tmb_top_menu_bar.TMB_application .navbar-nav > li > a {
    padding: 10px 15px;
  }
}
#tmb_top_menu_bar #icons_right {
  position: absolute;
  right: 10px;
  top: 22px;
}
#tmb_top_menu_bar #icons_right .TMB_application__button {
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  bottom: 1px;
}
@media (max-width: 400px) {
  #tmb_top_menu_bar .navbar-brand {
    display: none;
  }
}
#tmb_top_menu_bar #tmb_profile,
#tmb_top_menu_bar #tmb_messaging {
  position: relative;
}
#tmb_top_menu_bar #tmb_profile a,
#tmb_top_menu_bar #tmb_messaging a {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  left: -5px;
}
