<configuration>
	
	<springProperty name="microserviceId" source="spring.boot.admin.client.name"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %message%n
            </pattern>
        </encoder>
    </appender>

  	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>@logback.filePath@/entsorger-leistung-service.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily rollover -->
			<FileNamePattern>
				@logback.filePath@/entsorger-leistung-service.%d{yyyy-MM-dd}.%i.zip
			</FileNamePattern>
 			<maxHistory>365</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>

			</timeBasedFileNamingAndTriggeringPolicy>		
		</rollingPolicy>
 
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>

	<logger name="de" level="DEBUG" />
	<logger name="org.mitre" level="DEBUG" />
	<!--logger name="org.springframework.security" level="DEBUG" /-->
	<logger name="org.springframework.web.client" level="DEBUG"/>
	<logger name="httpclient.wire" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="dailyRollingFileAppender"/>
		<appender-ref ref="consoleAppender" />
    </root>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<jmxConfigurator/>
</configuration>