/** Add css rules here for your tmb application. */
body {
	min-width: 320px;
	overflow: hidden;
}

.TMB_application .APL_application {
	padding-top: 2px;
}

.TMB_application .fa {
	font-size: 25px;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	margin-top: 20px;
}

.TMB_application .headertabs {
	float: right;
	margin-left: .15em;
	margin-right: .15em;
}

.TMB_application__logocontainer {
	float: left;
	background-color: #fff;
	padding: 3px;
	margin: 1px 0;
	border-radius: 5px;
}

.TMB_application__logocontainer img {
	height: 55px;
}

.TMB_application__button {
	border: 2px solid #fff !important;
	box-shadow: 1px 1px 0 #000;
	padding-left: 0.15em;
	padding-right: 0.15em;
}

.TMB_application__button span {
	background-color: #fff !important;
	box-shadow: 1px 2px 0 #000;
}

.TMB_application .icons-right {
	position: absolute;
	top: 0;
	right: 10px;
}

@media (max-width: 400px) {
	.navbar-brand {
		display: none;
	}
}