/** Add css rules here for your tmb application. */
body {
	min-width: 320px;
	overflow: hidden;
}

.TMB_application .fa {
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}

.TMB_application .headertabs {
	float: right;
	margin-right: 15px;
}

.TMB_application__logocontainer {
	float: left;
	background-color: #fff;
	padding: 3px;
	margin: 3px 0 3px 2px;
	border-radius: 5px;
}

.TMB_application__logocontainer img {
	height: 50px;
}

.TMB_application__button {
	border: 2px solid #fff !important;
	box-shadow: 1px 1px 0 #000;
	padding-left: 0.15em;
	padding-right: 0.15em;
}

.TMB_application__button span {
	background-color: #fff !important;
	box-shadow: 1px 2px 0 #000;
}

.TMB_application .icons-right .TMB_application__button {
	margin-top:-10px;
}

.TMB_application .navbar-default .navbar-nav>li>a {
	color: #fff;
}

.TMB_application .navbar-default .navbar-nav>li>a:hover,
.TMB_application .navbar-default .navbar-nav>li>a:focus {
	color: #789abc;
}

#icons_right {
	position: absolute;
	top: 0;
	right: 10px;
	padding-top: 20px;
}

@media (max-width: 400px) {
	.navbar-brand {
		display: none;
	}
}
#tmb_profile,
#tmb_messaging {
	position: relative;
}

#tmb_profile a,
#tmb_messaging a {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	left: -5px;
}
