/** Add css rules here for your apl application. */
.APL_application  {

  li {
    list-style-type: none;
    line-height: 1em;
  }

  .fa {
    color: #fff;
    margin-top: 1px;
    font-size: 18px;
  }

  &__iconsContainer {
    width: 293px;
    padding: 25px 30px !important;
  }

  &__link {
    display: block;
    padding-bottom: 10px;
    border: 1px solid transparent;
    color: #000;
  }

  &__link:link,
  &__link:active,
  &__link:visited,
  &__link:hover {
    text-decoration: none;
  }

  &__link:hover {
    border: 1px solid #eee;
    color: #000;
  }

  &__iconWrapper,
  &__text {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1px;
    font-size: 13px;
    height: 18px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 7px;
    line-height: 15px;
    color: #000;
  }

  &__iconWrapper {
    height: 55px;
  }

  &__iconsContainer img {
    width: 47px;
    height: 47px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: auto;
  }

}
.icons_right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.popover {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  max-width: 500px !important;
  border: none !important;
}

.popover-content {
  background-color: #fff;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  right: 20px;
}

.t10 .popover-content {
  right: 10px;
}

.t5 .popover-content {
  right: 5px;
}

.t0 .popover-content {
  right: 0;
}

.arrow {
  top: -9px !important;
}