/** Add css rules here for your application. */
.APL_application li {
    list-style-type: none;
}

.APL_application__iconsContainer {
    width: 320px;
    padding: 10px;
}

.APL_application__iconWrapper,
.APL_application__link {
    height: 25px;
    margin: auto;
    display: block;
    text-align: center;
}

.APL_application__iconsContainer img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0 70px;
    text-align: center;
}
