/** Add css rules here for your apl application. */
.APL_application li {
	list-style-type: none;
	line-height: 1em;
}

.APL_application .fa {
	color: #fff;
	margin-top: 1px;
	font-size: 13px;
}

.APL_application__iconsContainer {
	width: 270px;
	padding: 15px 25px;
}
.APL_application__link {
	display: block;
	padding-bottom: 10px;
}

.APL_application__iconWrapper,
.APL_application__text {
	height: 30px;
	margin: auto;
	display: block;
	text-align: center;
	margin-top: 13px;
	line-height: 17px;
}
.APL_application__iconWrapper {
	height: 55px;
}
.APL_application__iconsContainer img {
	width: 45px;
	height: 45px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin: auto;
}

#icons_right {
	position: absolute;
	top: 0;
	right: 10px;
	padding-top: 20px;
}